p {
  text-align: justify;
}
.title {
  font-weight: 800 !important;
  color: transparent !important;
  font-size: 65px !important;
  font-family: OpensansBold !important;
  background: url(https://images.unsplash.com/photo-1584592902605-c96550ca424d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2389&q=80)
    repeat;
  background-position: 40% 50% !important;
  background-size: cover !important;
  -webkit-background-clip: text !important;
  position: relative !important;
  text-align: center !important;
  line-height: 65px !important;
  margin-top: 40px !important;
}
@font-face {
  font-family: KontoraExtraBlack;
  src: url(../fonts/Kontora\ ExtraBlack.otf);
}
@font-face {
  font-family: KontoraRegular;
  src: url(../fonts/Kontora\ Regular.otf);
}
@font-face {
  font-family: KontoraBold;
  src: url(../fonts/Kontora\ Bold.otf);
}
@font-face {
  font-family: NexaBold;
  src: url(../fonts/Nexa\ Bold.otf);
}
@font-face {
  font-family: NexaLight;
  src: url(../fonts/Nexa\ Light.otf);
}
@font-face {
  font-family: OpensansLight;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpensansRegular;
  src: url(..//fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpensansSemiBold;
  src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: OpensansBold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpensansExtraBold;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: PlutoCondBlack;
  src: url(../fonts/PlutoCondBlack.ttf);
}

h1 {
  font-family: OpensansBold;
  font-size: 45px;
}
h2 {
  font-family: OpensansSemiBold;
}
span {
  font-family: OpensansRegular;
}
p {
  font-family: OpensansRegular, sans-serif;
  color: #5d5d5d;
  font-size: 15px;
}

.titles {
  font-family: NexaBold;
  color: #006da0;
  margin-top: 7vh !important;
}

.row {
  margin-right: 0 !important;
}
.modal-backdrop.in {
  opacity: 0 !important;
}
.dropdown-toggle::after {
  display: none;
}
.text-decoration-none {
  text-decoration: none !important;
}
.icon-width {
  width: 2rem;
}
.conteudo {
  position: relative;
}
.counter-intro {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.counter {
  font-family: KontoraExtraBlack;
  font-size: 5rem;
}
.title-counter {
  font-family: KontoraRegular;
  font-size: 40px;
  color: rgba(235, 244, 252, 0.6);
}
.span-counter {
  font-family: KontoraRegular;
  font-size: 24px;
  color: rgba(235, 244, 252, 0.6);
}
.redd-title,
h2 {
  font-family: NexaLight;
  font-size: 18px !important;
}
.redd-title,
b {
  font-family: NexaBold;
}
.slick-slide img.slick-loading {
  display: none;
}
.slider-progress {
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
}
.slider-progress .progress {
  width: 0%;
  height: 10px;
  background: #3cbf9f;
}
.iframe {
  color: #3cbf9f;
}
.wrap {
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: 30px;
}
.wrap > .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrap > .bg-video > video {
  width: 100%;
}
.bg-video-text {
  position: absolute;
  top: 10em;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.linha-vertical {
  display: inline-block;
  position: relative;
}
.linha-vertical:after {
  position: absolute;
  content: "";
  border-left: 8px solid #3cbf9f;
  height: 90%;
  transform: translateX(-10%);
  left: -30px;
  bottom: 5%;
}

.projects-cars,
figcaption {
  background: rgba(0, 0, 0, 0.7) !important;
}
.icon-projects {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.3) !important;
  position: relative;
  top: 30%;
  vertical-align: middle;
}
.parallax {
  background-image: url(../images/back-numbers.png);
  min-height: 75vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
  position: relative;
}
.counter-parallax {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.counter-parallax {
  min-width: 80vw;
}
.counter-parallax i {
  font-size: 80px;
  padding-bottom: 10px;
}
#counter,
#counter2,
#counter3 {
  font-size: 45px;
  font-family: OpensansBold;
}
.title-parallax {
  font-size: 20px;
  font-family: OpensansBold;
}
.video-play-button {
  position: absolute;
  z-index: 10;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}
.text-video {
  position: relative;
  top: -20%;
  left: -15%;
}
.text-video p {
  font-family: KontoraRegular;
  color: #fff;
  font-size: 1.8vw !important;
}
.text-video b {
  font-family: KontoraBold;
  color: #6ec4ee;
  font-size: 3vw;
  line-height: 5vh;
  padding-bottom: 30px;
}
.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  animation: pulse-border 1.5s ease-out infinite;
}
.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 65px;
  height: 65px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.2s;
}
.video-play-button:hover:after {
  background-color: darken(#fff, 10%);
}
.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}
.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #6ec4ee;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all ease 0.5s;
}
.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}
.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}
.video-overlay-close:hover {
  color: #fa183d;
}
.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}
.ods-row {
  padding-bottom: 40px;
}
.img-ods {
  width: 95%;
  height: auto;
}
.ods-1 figcaption {
  background: #e5233d !important;
}
.ods-3 figcaption {
  background: #4ca146 !important;
}
.ods-4 figcaption {
  background: #c7202e !important;
  top: -40px !important;
}
.ods-7 figcaption {
  background: #fbc412 !important;
}
.ods-8 figcaption {
  background: #a31c44 !important;
  top: -60px !important;
}
.ods-12 figcaption {
  background: #bf8d2c !important;
}
.ods-13 figcaption {
  background: #407f46 !important;
  padding-top: 0 !important;
}
.ods-15 figcaption {
  background: #59ba47 !important;
  top: -90px !important;
}
.imghvr-flip-vert {
  background-color: #fff !important;
}
.text-ods {
  text-align: left;
  color: #fff !important;
}
.text-ods > h3 {
  font-size: 22px;
  margin-top: 30%;
}
.text-ods > i {
  font-size: 18px;
}
hr {
  border: none;
  height: 1px;
  background-color: #fff;
}
.redd-img {
  width: 60%;
  height: auto;
  border: 1px solid #006da0;
  border-radius: 50%;
  padding: 4%;
}
.redd-arrow {
  border: 2px solid #dcdcdc;
  color: #dcdcdc;
  border-radius: 60%;
  padding: 30%;
  position: relative;
  top: 20% !important;
}
.divredd1 {
  cursor: pointer;
}
#redd2 {
  display: none;
}
#divredd2,
#divredd3 {
  filter: grayscale(1);
}
#redd3 {
  display: none;
}
.cursor-pointer {
  cursor: pointer;
}
header.header-layout {
  position: fixed;
  width: 100%;
  top: 0;
  height: 102px;
  z-index: 999;
}
header.header-layout .navbar-toggle {
  background-color: #00689e;
  top: 42px;
  margin-right: 17px;
}
@media only screen and (max-width: 767px) {
  header.header-layout .navbar-toggle {
    display: block !important;
  }
}
header.header-layout .navbar-toggle span {
  background-color: #fff;
}
@media only screen and (max-width: 1024px) {
  header.header-layout {
    position: absolute;
  }
}
header.header-layout .panel-header {
  position: absolute;
  top: 0;
  right: 20px;
}
header.header-layout .panel-header .search {
  display: inline-block;
  height: 37px;
  margin-right: 45px;
  position: relative;
}
@media only screen and (max-width: 480px) {
  header.header-layout .panel-header .search {
    display: none;
  }
}
header.header-layout .panel-header .search:before {
  font-size: 22px;
  content: "\f002";
  display: inline-block;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 15px;
  right: -25px;
  color: #b5d5f0;
}
header.header-layout .panel-header .search input[type="text"] {
  border-bottom: 2px solid #b5d5f0;
  font-family: open_sanslight;
  width: 270px;
}
header.header-layout
  .panel-header
  .search
  input[type="text"]::-webkit-input-placeholder {
  color: #e0e0e0;
}
header.header-layout .panel-header .search input[type="text"]:-moz-placeholder {
  color: #e0e0e0;
}
header.header-layout
  .panel-header
  .search
  input[type="text"]::-moz-placeholder {
  color: #e0e0e0;
}
header.header-layout
  .panel-header
  .search
  input[type="text"]:-ms-input-placeholder {
  color: #e0e0e0;
}
@media only screen and (max-width: 767px) {
  header.header-layout .panel-header .search input[type="text"] {
    width: auto;
  }
}
header.header-layout .panel-header .language {
  display: inline-block;
}
@media only screen and (max-width: 480px) {
  header.header-layout .panel-header .language {
    margin-top: 15px;
  }
}
header.header-layout .panel-header .language .qtranxs_widget ul li {
  margin: 0;
}
header.header-layout .panel-header .language ul {
  margin: 0;
  padding: 0;
}
header.header-layout .panel-header .language ul li {
  list-style: none;
  display: inline-block;
}
header.header-layout .panel-header .language ul li.active a {
  opacity: 1;
}
header.header-layout .panel-header .language ul li.lang-pt a {
  background-image: url(../images/lang-br.png);
  margin: 0 0 0 10px;
}
header.header-layout .panel-header .language ul li.lang-en a {
  background-image: url(../images/lang-eng.png);
}
header.header-layout .panel-header .language ul li a {
  width: 35px;
  height: 24px;
  display: inline-block;
  transition: all 0.3s ease-out;
  opacity: 0.2;
}
header.header-layout .panel-header .language ul li a:focus,
header.header-layout .panel-header .language ul li a:hover {
  transition: all 0.3s ease-out;
  opacity: 1;
}
header.header-layout .panel-header .language ul li a img,
header.header-layout .panel-header .language ul li a span {
  display: none;
}
header.header-layout .navbar-layout {
  background: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 -2px 24px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -2px 24px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 24px 1px rgba(0, 0, 0, 0.1);
}
header.header-layout .navbar-layout .navbar-nav {
  font-size: 18px;
  font-family: open_sanslight;
}
header.header-layout .navbar-layout .navbar-nav li {
  padding: 0 9px;
}
header.header-layout .navbar-layout .navbar-nav li a {
  transition: all 0.3s ease-out;
  color: #00689e;
  text-decoration: none;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
}
header.header-layout .navbar-layout .navbar-nav li a:hover {
  color: #f15f22;
  border-bottom: 2px solid transparent;
  outline: 0;
  text-decoration: none;
  background-color: transparent;
}
header.header-layout .navbar-layout .navbar-nav li a:active,
header.header-layout .navbar-layout .navbar-nav li a:focus {
  color: #f15f22;
  outline: 0;
  text-decoration: none;
  background-color: transparent;
}
header.header-layout .navbar-layout .navbar-nav li.active a {
  border-bottom: 2px solid #f15f22;
}
@media only screen and (max-width: 767px) {
  header.header-layout .navbar-layout .navbar-nav li.active a {
    border-bottom: none;
    color: #f15f22;
  }
}
header.header-layout .navbar-layout .navbar-nav li:hover ul {
  display: block;
}
header.header-layout .navbar-layout .navbar-nav li:hover ul li ul {
  display: none;
}
header.header-layout .navbar-layout .navbar-nav li:hover ul li:hover ul {
  top: 24px;
  background-color: #ebf4fc;
  display: block;
}
header.header-layout .navbar-layout .navbar-nav li:hover ul li:hover ul li ul,
header.header-layout
  .navbar-layout
  .navbar-nav
  li:hover
  ul
  li:hover
  ul
  li:hover
  ul {
  display: none;
}
header.header-layout .navbar-layout .navbar-nav li:hover ul li:hover ul .caret {
  display: none;
}
header.header-layout .navbar-layout .navbar-nav li .dropdown-menu {
  background-color: rgba(235, 244, 252, 0.95);
  padding: 10px;
  border: 0;
  box-shadow: none;
  position: absolute;
  top: 30px;
  right: 10px;
  -webkit-border-radius: 10px 0 10px 10px;
  -moz-border-radius: 10px 0 10px 10px;
  -ms-border-radius: 10px 0 10px 10px;
  border-radius: 10px 0 10px 10px;
}
@media only screen and (max-width: 767px) {
  header.header-layout .navbar-layout .navbar-nav li .dropdown-menu {
    display: block;
    position: relative !important;
    width: 100%;
    top: 0 !important;
    margin: 10px 0;
  }
}
header.header-layout .navbar-brand {
  background-image: url(images/logo.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 160px;
  height: 70px;
  margin: 15px 0 12px !important;
  padding: 0;
  text-indent: -9999px;
}
@media only screen and (max-width: 767px) {
  header.header-layout .navbar-brand {
    margin-left: 15px !important;
  }
}
header.header-layout .menu-layout {
  position: relative;
  top: 53px;
  right: -5px;
  padding: 0;
}
@media only screen and (max-width: 1199px) {
  header.header-layout .menu-layout {
    top: 0 !important;
    left: -10px !important;
    margin-bottom: 15px;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  header.header-layout .menu-layout {
    padding-left: 25px;
  }
  header.header-layout .menu-layout ul {
    padding-left: 10px;
  }
}
.margin-header {
  margin-top: 102px;
}
@media only screen and (max-width: 1199px) {
  .margin-header {
    margin-top: 142px;
  }
}
@media only screen and (max-width: 767px) {
  .margin-header {
    margin-top: 102px;
  }
}
@media only screen and (max-width: 480px) {
  .margin-header {
    margin-top: 102px;
  }
}
.modal {
  display: none;
}
.modal:target {
  display: flex;
}
.modal {
  text-align: left;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
}
.modal:target {
  justify-content: space-around;
  align-items: center;
}
.modal__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  cursor: default;
}
.modal__content {
  min-width: 80vw;
  position: relative;
  background-color: #252d47;
  padding: 2rem;
  border-radius: 20px;
}
.modal__close {
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 0 0.5rem;
  display: inline-block;
}
.wpcf7 input[type="submit"] {
  border: 0 !important;
  background-color: #3cbf9f !important;
  border-radius: 10px !important;
  width: 20% !important;
  color: #fff !important;
}
.wpcf7 input,
select,
textarea {
  border-bottom: 2px solid #3cbf9f !important;
}
.wpcf7 p {
  color: #fff !important;
}
.wpcf7 ::-webkit-input-placeholder {
  color: #fff;
}
.execphpwidget p {
  color: #fff !important;
  font-size: 14px !important;
}
.ods-intro {
  color: #3cbf9f;
  font-size: 3vw;
}
div.wpcf7-response-output {
  color: #fff;
}

.btn-compensar {
  font-family: KontoraRegular;
  font-size: 15px;
  background-color: #006da0;
  color: #fff;
  border-radius: 30px;
  padding: 10px 25px 10px 25px !important;
}
.btn-compensar:hover {
  background-color: rgba(235, 244, 252, 0.95);
  color: #006da0;
}

.intro-redd {
  background-color: #006da0;
  padding: 25px 0 25px 0;
  height: 18vh;
}

.sumario {
  margin: 50px 0 60px 0;
}
.sumario a {
  font-family: NexaBold;
  font-size: 1.1rem;
  color: #868787;
}
.sumario a:hover {
  color: #5d5d5d;
  text-decoration: none;
}
.border-right {
  border-right: 1px solid #868787 !important;
}

.redd-about h1,
h4 {
  font-family: NexaBold;
  color: #006da0;
}
.redd-about h1 {
  font-size: 29px;
}
.redd-about h4 {
  font-size: 20px;
}
.redd-about .btn-compensar {
  font-size: 20px;
  margin: 40px 0 40px 0;
}
.redd-about .btn-compensar:hover {
  background-color: #024463;
  color: #fff;
}
#redd1,
#redd2,
#redd3 {
  position: relative;
  left: 8%;
}

.numbers-img {
  max-width: 30%;
  height: auto;
}

.border-numbers {
  width: 60%;
  height: auto;
  border: 1px solid #006da0;
  border-radius: 50%;
  padding: 4%;
}

.counter-parallax h2 {
  font-family: NexaBold;
  font-size: 40px !important;
}

.parallax h1 {
  font-family: NexaBold;
  font-size: 24px;
  color: #fff;
  padding-top: 60px;
}

.numbers-container {
  border: 3px solid #fff;
  max-width: 25% !important;
  height: 180px;
}

.section-carbono {
  margin-top: 60px;
}
.section-carbono h1 {
  font-size: 29px;
}

.section-carbono h2 {
  font-family: PlutoCondBlack;
  color: #006da0;
  font-size: 68px !important;
  line-height: 11vh;
}

.section-carbono b {
  font-family: PlutoCondBlack;
}

.section-carbono p {
  line-height: 4vh;
}

.logo-standard {
  max-width: 65%;
}

.standards h4 {
  color: #868787;
  font-size: 16px;
  margin-top: 10vh;
}

.standards .row {
  margin-top: 10vh;
  margin-bottom: 15vh;
}

.ods h1 {
  font-size: 29px;
}

.ods p {
  font-family: KontoraRegular;
  font-size: 1.8vw;
  margin: 2vh 0 10vh 0;
}

.item{
  opacity:0.8;
  transition:.4s ease all;
  transform:scale(.8);
  margin-left: -50px;
  margin-right: -50px;
  position:relative;
  z-index: -1;
}
@media(max-width:1000px){
  .item{margin:0; transform:scale(.9)}
}
.center.active .item{
  opacity: 1;
  transform:scale(.9);
}
.center.active{
  position:absolute;
  z-index: 99;
}



.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.owl-carousel:after{content:""; display:block; position:absolute; width:8%; top:0; bottom:0; pointer-events: none; background-size:100% auto;
}

.owl-controls{position:absolute; margin-top:300px;}




.our-projects {
  background-image: url(../images/bg-projects.jpeg);
  min-height: 60vh;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
  position: relative;
}

.project-img {
  width: 50%;
  height: auto;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 3%;
}

.our-projects p {
  padding: 0 20px 0 20px;
}

.our-projects h4 {
  color: #fff;
}

.our-projects h1 {
  color: #fff;
  font-size: 29px;
  padding-top: 10vh;
}

.our-projects span {
  font-family: KontoraRegular;
  font-size: 22px;
  color: #fff;
}

.our-projects {
  padding-bottom: 10vh;
}

.card-numbers {
  padding: 0 15px 10px 15px;
  min-height: 63%;
  max-height: 63%;
}

.conteudo-card {
  overflow: auto;
  border: 1px solid #d8d8d8ba;
  border-radius: 7px;
  position: relative;
  width: 300px;
  height: 300px;
}

.card-principal {
  padding: 0 15px 10px 15px;
  min-height: 63%;
  max-height: 63%;
  max-width: auto;
}

.icon-teste {
  position: absolute;
  z-index: 99999;
  margin-top: -20px;
  background: #fff;
  padding: 0 3px;
  margin-left: 20px;
  font-size: 2em;
}

.circulo {
  max-width: 18%;
  min-width: 18%;
  left: 10%;
  position: relative;
}

.folha-01 {
  width: 15%;
  position: absolute;
  margin-top: 9%;
  left: 7%;
  z-index: 9999;
}

.folha-02 {
  width: 14%;
  position: absolute;
  margin-top: 26%;
  left: 12%;
  z-index: 9999;
}

.folha-03 {
  width: 8%;
  position: absolute;
  margin-top: -9%;
  right: 0;
  z-index: 9999;
}

.folha-04 {
  width: 7%;
  position: absolute;
  right: 8%;
  z-index: 9999;
}

.folha-05 {
  width: 12%;
  position: absolute;
  margin-top: 10%;
  right: 10%;
  z-index: 9999;
}
